body {
  background:#4682b4;
  text-align:center;
  color: black;
  margin: 0;
  width: 100%;
  float: left;
  padding-bottom: 200px;
  font-family: 'Lato', sans-serif;


  ul.a {
    list-style-type: circle;
  }

ul.a {
  text-align: left;
}

h2 {
  font-family: 'Crimson Pro', serif;
  color: red;
  background: black;
  border-bottom: 3px solid white;
  width: 100%;
  margin: 0;
  display: inline-block;
}
